<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Menú</title>
    <link rel="stylesheet" href="../../../themes/styleVistas.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="header-menu">
    <div></div> 
    <h1 class="titleMenu">Menú principal de administrador</h1>
        <button class="btn-logout"><a class="text-btn" href="#" id="btnLogout">Cerrar sesión</a></button>

</div>
    <nav class="menu" id="menuOpciones">

    </nav>


    <script src="/SiGeRuCSS+/ajax/menu.js"></script>
    <script src="/SiGeRuCSS+/ajax/login/login.js"></script>
</body>

</html>