
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar contenedor</title>
</head>
<body>
    <h2>Registrar contenedor</h2>

    <form id="formCont" method="POST" action="">
        <label>Zona:</label><br>
        <input type="text" id="zona" name="zona" ><br><br>

        <label>Capacidad:</label><br>
        <input type="text" id="capacidad" name="capacidad"  ><br><br>

        <button type="submit">Registrar</button>
    </form>


    <script src="/SiGeRuCSS+/ajax/contenedor/registroContenedor.js"></script>
</body>
</html>