<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar camión</title>
</head>
<body>
    <h2>Registrar camión</h2>

    <form id="formCamion" method="POST" action="">
        <label>Matrícula:</label><br>
        <input type="text" id="matricula" name="matricula" maxlength="10"><br><br>

        <label>Capacidad:</label><br>
        <input type="text" id="capacidad" name="capacidad" maxlength="10" ><br><br>

        <button type="submit">Registrar</button>
    </form>



    <script src="/SiGeRuCSS+/ajax/camion/registroCamion.js" ></script>

</body>
</html>