
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../../../themes/styleVistas.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bodyLog">
    <h2 class="titleLog">Iniciar sesión</h2>
   
    <form class="formLog" id="formLogin" method="POST" action="">
        <label class="labelLog" for="email">Email</label><br>
        <input class="inputLog" type="text" id="email" name="email" ><br><br>
        
        <label class="labelLog" for="contrasena">Contraseña:</label><br>
        <input class="inputLog" type="password" id="contrasena" name="contrasena" ><br><br>

        <button class="btnLog" type="submit">Ingresar</button>

    </form>

    <p class="textLog">¿No tienes una cuenta? <a class="link" href="registroUsuVista.html">Registrate</a></p>

    <script src="/SiGeRuCSS+/ajax/login/login.js"></script>
</body>
</html>

